@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --black : #000000;
    --black2: #212428;
    --white : #fff;
    --graphite : #111111;
    --light-gray : #A0A0A0;
    --ligh-gray2: #EEE;
    --yellow: #d19508;
    --pink: #FF014F;
}

h1, h2, h3, p, a, a:visited{
    color: var(--light-gray);
    text-decoration: none;
}

body{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--graphite);
    font-family: 'Open Sans', sans-serif;
}

.content{
    height: 100vh;
    width: 100%;
    padding: 5% 10%;    
}

.line{
    position: absolute;
    height: 1px;
    width: 70vw;
    bottom: 10px;
    background-color: var(--black2);
}

/* ================== header ====================== */

header{
    height: 100%;
    background-color: var(--black);
    font-family: 'Montserrat', sans-serif;
}

.nav-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-wrapper{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.navegation-menu{
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 84px;

}

.list-navegation{
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
}

.list-navegation li:hover, .list-navegation a:hover{
    transform: translateX(5px);
    color: var(--yellow);
    transition: 300ms;
}

#line-nav{
    height: 1px;
    width: 100%;
    background-color: var(--light-gray);
}

.socials ul{
    font-size: 24px;
    min-width: 80px;
    display: flex;
    justify-content: space-evenly;
}

.socials li:hover{
    transform: translateY(-3px);
    transform: scale(1.2);
    transition: 300ms;
}

/* ================================================ */

/* ================== Home ====================== */

.home-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photo{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 300px;
    background-color: var(--ligh-gray2);
    animation: morphing 10s  infinite;
}

.photo > img {
    width: 100%;
    object-fit: contain;
    animation: morphing 10s  infinite;
}

.home-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.home-text .title{
    font-size: 2rem;
}

.home .sub-title{
    font-size: 1rem;
}

.home .sub-title > span{
    color: var(--yellow);
}

.button-cv{
    margin-top: 16px;
    align-self: center;
    padding: 16px 32px;
    border-radius: 4px;
    background: linear-gradient(to right bottom, #212428, #16181c);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    font-weight: bold;
}

.button-cv > a{
    color: var(--yellow);;
}

.button-cv i{
    padding-left: 12px;
}

.button-cv:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background: #09090a;
    transition: 300ms;
}

/* ================================================ */

/* ================== About ====================== */
.about-container{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.about-text{
    display: flex;
    text-align: justify;
    flex-direction: column;
    gap: 18px;
}

.about-text h2{
    font-size: 2rem;
}
.about-text span{
    color: var(--yellow);
}

.stacks-wrapper ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 48px;
    color: white;
}

.stacks-wrapper img{
    height: 48px;
    width: 48px;
}

.stacks-wrapper img:hover{
    transform: scale(1.2);
    transition: 300ms;
}

/* ================================================ */

@keyframes morphing {
    0% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
        box-shadow: 15px 15px 25px rgba(0,0,0,0.2);
    }
    50% {
        border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
        box-shadow: -10px -5px 25px rgba(0,0,0,0.2);
    }
    100% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
        box-shadow: 15px 15px 25px rgba(0,0,0,0.2);
    }
}